.cache
.git
.idea
*.code-workspace
node_modules
nbproject
todo

# npm package files
iobroker.*.tgz

# Sourcemaps
maps/

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt


