<html>
<head>
    <link rel="stylesheet" href="css/doc.css" />
    <link rel="stylesheet" href="css/agate.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>    
    <script>
    

        function spoiler(el) {
            $header = $(el);
            //getting the next element
            $content = $header.next();
            //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
            $content.slideToggle(500, function () {
                //execute this after slideToggle is done
                //change text of header based on visibility of content div
                    $header.text(function () {
                    //change text based on condition
                    return $content.is(":visible") ? "Collapse" : "Expand";
                });
            });
        }
        $( document ).ready(function() {
        
            if (navigator && navigator.clipboard) {
                addCopyButtons(navigator.clipboard);
            } else {
                var script = document.createElement('script');
                script.src = 'js/clipboard-polyfill.promise.js';
                script.integrity = 'sha256-waClS2re9NUbXRsryKoof+F9qc1gjjIhc2eT7ZbIv94=';
                script.crossOrigin = 'anonymous';
                script.onload = function() {
                    addCopyButtons(clipboard);
                };

                document.body.appendChild(script);
            }
            
            function addCopyButtons(clipboard) {
                    document.querySelectorAll('pre > code').forEach(function (codeBlock) {
                        var button = document.createElement('button');
                        button.className = 'copy-code-button';
                        button.type = 'button';
                        button.innerText = 'Copy Code';

                        button.addEventListener('click', function () {
                            clipboard.writeText(codeBlock.innerText).then(function () {
                                /* Chrome doesn't seem to blur automatically,
                                   leaving the button in a focused state. */
                                button.blur();

                                button.innerText = 'Copied!';

                                setTimeout(function () {
                                    button.innerText = 'Copy';
                                }, 2000);
                            }, function (error) {
                                button.innerText = 'Error';
                            });
                        });                    

                        var pre = codeBlock.parentNode;
                        if (pre.parentNode.classList.contains('highlight')) {
                            var highlight = pre.parentNode;
                            highlight.parentNode.insertBefore(button, highlight);
                        } else {
                            pre.parentNode.insertBefore(button, pre);
                        }
                    });        
            };
        });

</script>
    
    
    <title>Dokumentation RSS Feed Widgets</title>
</head>
<body>

<h2><a name="Attribute" ></a>Dokumentation RSS Feed Widgets</h2>


<h3><a name="tplrssfeedWidget2" ></a>RSS Feed Widget 2</h3>
<img src="img/rssfeed-vis.png"/><br>
Mit diesem Widget kann man die im Konfigurationsdialog des Adapters abonnierten RSS Feeds anzeigen lassen. 
Um eine möglichste Darstellung gewährleisten zu können, wurde ein Template-System gewählt.
Beschreibung der Formatierung und Syntax finden sich auf den folgenden Seiten<br>
https://ejs.co/ und https://github.com/mde/ejs<br>

<h4>Attribute</h4>
<h5>Attribut rss_oid</h5>
Auswahl des Datenpunktes mit dem entsprechenden RSS Feed.
<h5>Attribut rss_template</h5>
Das Template bestimmt das Aussehen des RSS Feeds. Im Template können alle gültigen HTML-Tags (inklusive CSS-Attribute in Style-Tags) verwendet werden.<br>
Darüber hinaus gibt es spezielle Tags, innerhalb derer die Feed-Daten angezeigt werden und Javascript-Anweisungen ausgeführt werden können.
Um die Daten und ihre verwendeten Attributnamen besser identifiziert werden können, existieren noch die beiden Widgets <b>rssfeed Meta helper</b> und <b>rssfeed Article helper</b>.<br>
<br>
Das Templatesystem arbeitet mit bestimmten Tags.<br>
Die verwendeten Tags bedeuten das folgenden<br>
&lt;%= Der Inhalt des enthaltenen Ausdrucks/Variable wird escaped ausgegenen.<br>
&lt;%- Der Inhalt des enthaltenen Ausdrucks/Variable wird unescaped ausgegenen.<br>
&lt;% Tag ohne Ausgabe, wird für javascriptanweisungen verwendet<br>
%&gt; ist generell ein schließender Tag um eines der vorherigen abzuschließen<br>
Alles was außerhalb dieser Tags ist, wird genau so dann angezeigt bzw. wenn es HTML ist als HTML interpretiert ausgegeben. (siehe bspw das p-tag,div-tag,small-tag<br>
<br>
Innerhalb des Templates habt ihr 2 vorgegebene variablen zur Verfügung<br>
<br>
<b>meta:</b> Hier sind alle Metainformationen zum Feed enthalten. Die folgenden Inhalte stehen zur Verfügung. Ich denke die Bezeichner sind selbst erklärend. In der Hilfe werde ich diese noch genauer Beschreiben. bzw den Inhalt spezifizieren (manche sind Arrays)<br>
<br>
meta.title<br>
meta.description<br>
meta.link<br>
meta.xmlurl<br>
meta.date<br>
meta.pubdate<br>
meta.author<br>
meta.language<br>
meta.image<br>
meta.favicon<br>
meta.copyright<br>
meta.generator<br>
meta.categories<br>
<br>
<b>articles:</b> Ist ein Array mit einzelnen Elementen (javascript array). Jedes Element hat die folgenden Eigenschaften.<br>
Damit es zum Beispiel passt mache ich hier mal das Prefix item davor. Aber wenn ihr wollt könnt ihr das selbst wählen. Es muss dann nur in der Schleife (forEach) entsprechend benannt werden. Auch hjier sind die Bezeichner erst einmal selbst erklärend. Nicht in jedem Feed sind alle attribute auch gefüllt. Die wichtigsten sind im obigen Template bereits enthalten.<br>
<br>
item.title<br>
item.description<br>
item.summary<br>
item.link<br>
item.origlink<br>
item.permalink<br>
item.date<br>
item.pubdate<br>
item.author<br>
item.guid<br>
item.comments<br>
item.image<br>
item.categories<br>
item.source<br>
item.enclosures<br>
<br>
Beispiele eines Template, welches für viele RSS Feeds als Start verwendet werden kann:<br>
<pre>
<code class="xml hljs">
<%= meta.title %> 
<% articles.forEach(function(item){ %>
&lt;p>&lt;small><%- vis.formatDate(item.pubdate, "TT.MM.JJJJ SS:mm") %>&lt;/small>&lt;/p>
&lt;h3><%- item.title %>&lt;/h3>
&lt;p><%- item.description %>&lt;/p>
&lt;div style="clear:both;" />
<% }); %>
</code>
</pre>
<br>
Kurze Beschreibung was in den einzelnen Zeilen passiert<br>
Z1: Der Feed-titel wird ausgegeben<br>
Z2: Ohne Ausgabe. Schleife über alle articles, bei jedem Durchgang wird das aktuelle Element der variable item zugewiesen.<br>
Z3: Datum und Uhrzeit wird ausgegeben und wird in einem p/small-Tag eingeschlossen zur Formatierung. Zur Formatierung wird die vis-eigene Datumsformatfunktion verwendet. Beschreibung ist im adapter vis zu finden.<br>
Z4: Der Titel des Artikels wird ausgegeben. Zur Formatierung wird der Tag für Überschrift 3 verwendet<br>
Z5: Der Inhalt des Artikels wird ausgegeben und in einem p-Tag eingeschlossen. Hier ist, zumindest bei den beiden Beispielen, HTML-code enthalten, der meist ein Bild, sowie beschreibenden Text mitbringt<br>
Z6: Ein div-Tag, das ausgegeben werden muss, um eine spezielle Formatierung im Feed wieder aufzuheben.<br>
Z7: Ohne Ausgabe. Hier wird die Schleife geschlossen. Alles was zwischen Z2 und Z7 definiert wurde, wird für jeden einzelnen Artikel wiederholt.<br>
<br>
<h5>Attribut rss_maxarticles</h5>
Die maximal angezeigte Anzahl von einzelnen Artikeln aus dem RSS Feed
<h5>Attribut rss_filter</h5>
Für die Filter-Funktion kann in das Feld ein oder mehrere Filterkriterien mit Semikolon (;) getrennt eingegeben werden.<br>
Für die Suche werden die folgenden Artikel-Attribute durchsucht: titel, description, categories.<br>
Es werden nur Artikel angezeigt, die einen dieser Begriffe enthält.<br>
<br><br>
<h3><a name="tplrssfeedMultiWidget" ></a>RSS Feed Multi Widget</h3>
<img src="img/rssfeed-vis.png"/><br>
Mit diesem Widget können mehrere Feeds in einem widget aggregiert dargestellt werden. <br>
Aufgrund der mehreren Feed, gibt es hier ein paar Unterschiede zur Datenverfügbarkeit im Template im Vergleich zum normalen RSS Feed widget.<br>
Die Variable meta ist im template nicht verfügbar. Allerdings sind  3 Meta-attrribute title und description in jedem einzelnen Artikel unter den Bezeichnungen meta_title und meta_description verfügbar.<br>
Darüber Hinaus kann in den Einstellungen für jeden Feed ein Allgemeiner Name vergeben werden, der innerhalb des templates unter der Bezeichung meta_name in jedem Artikel zur Verfügung steht, damit die Herkunft eines Artikels jeweils gekennzeichnet werden.<br>
Ansonsten gelten für das Template die selben Regeln wie bei RSS Feed widget.<br>
Beschreibung der Formatierung und Syntax finden sich auf den folgenden Seiten<br>
https://ejs.co/ und https://github.com/mde/ejs<br>

<h4>Attribute</h4>
<h5>Attribut rss_feedCount - Gruppe Allgemein</h5>
Hier kann die Anzahl der zu konfigurierenden Feeds eingestellt werden. Für jeden Feed wird in vis eine separate Gruppe zur Konfiguration erzeugt.
<h5>Attribut rss_template - Gruppe Allgemein</h5>
Das Template bestimmt das Aussehen des RSS Feeds. Im Template können alle gültigen HTML-Tags (inklusive CSS-Attribute in Style-Tags) verwendet werden.<br>
Darüber hinaus gibt es spezielle Tags, innerhalb derer die Feed-Daten angezeigt werden und Javascript-Anweisungen ausgeführt werden können.
Um die Daten und ihre verwendeten Attributnamen besser identifiziert werden können, existieren noch die beiden Widgets <b>rssfeed Meta helper</b> und <b>rssfeed Article helper</b>.<br>
<br>
Für dieses Feld gelten, bis auf die Verfügbarkeit der Variablen, die selben Regeln wie für das Feld Template im widget RSS Feed Widget<br>
<br>
Innerhalb des Templates habt ihr 2 vorgegebene Variable zur Verfügung<br>
<br>
<b>articles:</b> Ist ein Array mit einzelnen Elementen (javascript array). Jedes Element hat die folgenden Eigenschaften.<br>
Damit es zum Beispiel passt mache ich hier mal das Prefix item davor. Aber wenn ihr wollt könnt ihr das selbst wählen. Es muss dann nur in der Schleife (forEach) entsprechend benannt werden. Auch hier sind die Bezeichner erst einmal selbst erklärend. Nicht in jedem Feed sind alle attribute auch gefüllt. Die wichtigsten sind im obigen Template bereits enthalten.<br>
Wie Eingangs bereits beschrieben gibt es in jedem Artikel noch 3 ergänzende Attibute, aus den Meta-Informationen des Feeds (meta_title und meta_description.<br>
meta_name stammt aus dem Attribut rss_name aus der vis Konfiguration zum jeweiligen Feed.<br>
<br>
item.title<br>
item.description<br>
item.summary<br>
item.link<br>
item.origlink<br>
item.permalink<br>
item.date<br>
item.pubdate<br>
item.author<br>
item.guid<br>
item.comments<br>
item.image<br>
item.categories<br>
item.source<br>
item.enclosures<br>
meta_title<br>
meta_description<br>
meta_name<br>
<br>
<b>dp:</b> Ist ein Objekt, mit den einzelnen konfigurierten Datenpunkten, die innerhalb des Template verfügbar gemacht werden sollen.<br>
Ein Datenpunkt kann innerhalb des Templates wie folgt abgerufen werden <br>
<pre>
<code class="javascript hljs">
dp['ID des Datenpunktes']<br>
</code>
</pre>
<br>
<h5>Attribut rss_dpCount - Gruppe Allgemein</h5>
Hier kann die Anzahl der weiteren Datenpunkte angegeben werden, die innerhalb des Templates verfügbar gemacht werden sollen.
<h5>Attribut rss_dp[zahl] - Gruppe Allgemein</h5>
Hier kann der jeweilige Datenpunkt ausgewählt werden. Der Datenpunk ist innerhalb des Templates unter der Variable dp verfügbar. d.h. ein Datenpunkt kann innerhalb des Templates wie folgt abgerufen werden <br>
<pre>
<code class="javascript hljs">
dp['ID des Datenpunktes']<br>
</code>
</pre>
<h5>Attribut rss_oid - Gruppe Feeds[zahl]</h5>
Auswahl des Datenpunktes mit dem entsprechenden RSS Feed.
<h5>Attribut rss_name - Gruppe Feeds[zahl]</h5>
Hier kann eine Bezeichnung eingegeben werden, die im Template je Artikel unter dem Attributnamen meta_name verfügbar gemacht wird.
<h5>Attribut rss_maxarticles - Gruppe Feeds[zahl]</h5>
Die maximal angezeigte Anzahl von einzelnen Artikeln aus dem RSS Feed
<h5>Attribut rss_filter - Gruppe Feeds[zahl]</h5>
Für die Filter-Funktion kann in das Feld ein oder mehrere Filterkriterien mit Semikolon (;) getrennt eingegeben werden.<br>
Für die Suche werden die folgenden Artikel-Attribute durchsucht: titel, description, categories.<br>
Es werden nur Artikel angezeigt, die einen dieser Begriffe enthält.<br>
<h3><a name="tplrssfeedMetaHelper" ></a>RSS Feed Meta Helper</h3>
<img src="img/rssfeed-meta.png"/><br>
Mit diesem Widget können die Meta-Attribute eines bestimmten Feeds angezeigt werden.
Es dient lediglich als Hilfs-Widget zur Erstellung eines Templates um sich schnell und einfach die Inhalte der RSS Feed-Daten anzeigen zu lassen.
<h4>Attribute</h4>
<h5>Attribut rss_oid</h5>
Auswahl des Datenpunktes mit dem entsprechenden RSS Feed.
<br><br>
<h3><a name="tplrssfeedArticleHelper2" ></a>RSS Feed Article Helper 2</h3>
<img src="img/rssfeed-item.png"/><br>
Mit diesem Widget können die Artikel-Attribute eines bestimmten Feeds angezeigt werden.
Es dient lediglich als Hilfs-Widget zur Erstellung eines Templates um sich schnell und einfach die Inhalte der RSS Feed-Daten anzeigen zu lassen.
<h4>Attribute</h4>
<h5>Attribut rss_oid</h5>
Auswahl des Datenpunktes mit dem entsprechenden RSS Feed.
<h5>Attribut rss_prefix</h5>
Zum leicheteren Verwendung der Attributnamen per Copy/Paste, kann hier der im Template für einen Artikel verwendete Variablenname angegeben werden.
<h5>Attribut rss_article</h5>
Über dieses Attribut kann durch die verschiedenen vorhandenen Artikeln im RSS Feed geschaltet werden.
<br><br>
<h3><a name="tplrssfeedMarquee2" ></a>RSS Feed Title marquee 2</h3>
<img src="img/rssfeed-mrqe.png"/><br>
Mit diesem Widget werden alle Titel-Attribute als Laufschrift ausgegeben werden.
<h4>Attribute</h4>
<h5>Attribut rss_oid</h5>
Auswahl des Datenpunktes mit dem entsprechenden RSS Feed.
<h5>Attribut rss_maxarticles</h5>
Die maximal angezeigte Anzahl von einzelnen Artikeln aus dem RSS Feed
<h5>Attribut rss_speed</h5>
Die Scrollgeschwindigkeit der Laufschrift 
<h5>Attribut rss_divider</h5>
Hier können die Zeichen eingegeben werden, mit dem die Schlagzeilen getrennt werden. Als Standardwert is +++ voreingestellt.
<h5>Attribut rss_pauseonhover</h5>
Wenn diese Option angeschaltet ist, dann hält die Laufschrift an, sobald man mit der Maus über dem Text schwebt.
<h5>Attribut rss_link</h5>
Wenn diese Option angeschaltet ist, werden die Schlagzeilen als Link ausgegeben. Bei Klick oder Touch auf eine Schlagzeile, wird der Link zum Artikel in einem neuen Fenster oder Tab geöffnet.
<h5>Attribut rss_filter</h5>
Für die Filter-Funktion kann in das Feld ein oder mehrere Filterkriterien mit Semikolon (;) getrennt eingegeben werden.<br>
Für die Suche werden die folgenden Artikel-Attribute durchsucht: titel, description, categories.<br>
Es werden nur Artikel angezeigt, die einen dieser Begriffe enthält.<br>
<br><br>
<h3><a name="tplJSONTemplate2" ></a>JSON Template2</h3>
<img src="img/jsontemplate.png"/><br>
Über dieses Widget, kann ein beliebiger Datenpunkt mit JSON-Daten nach eigenem belieben dargestellt werden.<br>
Die Darstellung erfolgt über ein Template-Format, welches man sich als kombinierte Form von Html-code + Javascript + spezielle Tags, die die Anzeige der JSON-Attribute steuern.
<h4>Attribute</h4>
<h5>Attribut json_oid</h5>
Auswahl des Datenpunktes mit den entsprechenden JSON-Daten.
<h5>Attribut rss_template</h5>
Über das Template kann das Aussehen der JSON-Daten bestimmt werden. Im Template können alle gültigen HTML-Tags (inklusive CSS-Attribute in Style-Tags) verwendet werden.<br>
Darüber hinaus gibt es spezielle Tags, innerhalb derer die JSON-Daten angezeigt werden und Javascript-Anweisungen ausgeführt werden können.<br>
<br>
Das Templatesystem arbeitet mit bestimmten Tags.<br>
Die verwendeten Tags bedeuten das folgenden<br>
&lt;%= Der Inhalt des enthaltenen Ausdrucks/Variable wird escaped ausgegenen.<br>
&lt;%- Der Inhalt des enthaltenen Ausdrucks/Variable wird unescaped ausgegenen.<br>
&lt;% Tag ohne Ausgabe, wird für javascriptanweisungen verwendet<br>
%&gt; ist generell ein schließender Tag um eines der vorherigen abzuschließen<br>
Alles was außerhalb dieser Tags ist, wird genau so dann angezeigt bzw. wenn es HTML ist als HTML interpretiert ausgegeben. (siehe bspw das p-tag,div-tag,small-tag<br>
<br>
An das Template werden die JSON-Daten mit dem prefix data übergeben.<br>
<br>
<b>Beispielobjekt</b>
<pre>
<code class="json hljs">
{
	"einarray": ["eins", "zwei"],
	"einobjekt": {
		"attribut1": 1,
		"attribut2": 2
	},
	"einezahl": 123,
	"eintext": "einszweidrei"
}
</code>
</pre>
<b>Attribute</b>
Innerhalb des Templates sind alle Attribute über das prefix data erreichbar.<br>
<br>
Am obigen Beispiel wären die beiden folgenden Attribute wie folgt ausgebbar<br>
<pre>
<code class="html hljs">
<%- data.einezahl %>
<%- data.eintext %>
</code>
</pre>

Innerhalb von Datenobjekten kann es wiederum verschachtelt Objekte und auch Arrays geben.<br>
Objekte sind an geschweiften Klammern {} zu erkennen und Arrays [] an eckigen Klammern erkennbar<br>
<br>
<b>Arrays</b>
Arrays können über einen Index angesprochen werden. Der Index beginnt immer mit 0. allerdings gibt es auch unechte Arrays, bei denen der Index nicht mit 0 beginnt oder gar aus Text besteht. Hier gelten die Regeln für Objekte
am obigen Beispiel wäre dies<br>
<br>
<pre>
<code class="html hljs">
<%- data.einarray[0] %>
<%- data.einarray[1] %>
</code>
</pre>
versucht man direkt ein Array ohne index auszugeben, gibt das template alle Elemente mit Komma getrennt aus<br>
<pre>
<code class="html hljs">
<%- data.einarray %>
</code>
</pre>
Arrays können ebenfalls auf einer Auflistung von Objekten bestehen. Das hier vorliegende Beispiel enthält nur ein einfaches Array. Ein Beispiel zu Array mit Objekten erfolgt zu einem späteren Zeitpunkt.<br>
<br>
Um ein Array von Anfang bis Ende abzuklappern benötigt man eine Schleife<br>
<pre>
<code class="html hljs">
<% for (var i = 0; i<data.einarray.length;i++) { %>
<%- data.einearray[i] %>
<% } %>
</code>
</pre>
Zeile 1: Start der Schleife und initialisierung der Zählervariable mit 0, dann wird bei jedem Druchgang geprüft, ob Schleife zuende ist, hier wird geprüft, ob die Zählervariable kleiner der Anzahl der Elemente im Array (hier 2), dann wird die Zählervariable nach jedem Durchgang mit i++ um eins erhöht, dann Start eines Blocks mit einer geschweiften Klammer, alles was innerhalb der geschweiften Klammer ist, wird in einem Schleifendurchgang ausgeführt.<br>
Zeile 2: Ausgabe des Elements<br>
Zeile 3: Schließen der Schleife mit einer geschweiften Klammer<br>
<br>
<b>Objekte</b>
Objekte konnen einzelne Attribute, Arrays oder wiederum wieder Objekte enthalten. Dadurch können JSON-Daten in beliebieger Tiefe verschachtelt sein.<br>
<br>
Attribute eines Objektes können über eine Punktnotation oder Klammernotation angesprochen werden.
Die Punktnotation funktioniert nur, wenn das Attribut bestimmten Namenskonventionen entspricht (Erstes Zeichen muss Buchstabe sein, Rest Zahlen oder Buchstaben oder Unterstrich).<br>
Die Klammernotation funktioniert auch bei Attributen, die nicht der Namenskonvention entspricht.<br>
<br>
Punktnotation<br>
<pre>
<code class="html hljs">
<%- data.einobjekt.attribut1 %>
</code>
</pre>
Klammernotation<br>
<pre>
<code class="html hljs">
<%- data.einobjekt["attribut1"] %>
</code>
</pre>
Auch hier kann in einem Attribut nicht nur einer der einfachen Datentypen (text,zahl,bool,etc) gespeichert sein sondern auch wieder ein Array und wieder ein Objekt<br>
<br>
Schleife über die Attribute eines Objekts<br>
<pre>
<code class="html hljs">
<% for (var prop in data.einobjekt) { %>
  <%- "data.einobjekt." + prop + " = " + data.einobjekt[prop] %>
<% } %>
</code>
</pre>
Zeile 1: Schleife über alle Attribute eines Objektes, hier data.einobjekt und eine geschweifte Klammer für den Start eines Blocks. Alles was innerhalb dieses Blocks steht wird bei jedem Durchlauf ausgeführt und ausgegeben<br>
Zeile 2: Ausgabe eines Textes (innerhalb der Anführungszeichen, sowie den Inhalt des Attributs<br>
Beispiel einer Ausgabenzeile:<br>
data.einobjekt.attribut1 = 1<br>
Zeile 3: Schließen der Schleife mit einer geschweiften Klammer<br>
<br>
<b>Fortgeschrittene Anwendung</b>
In den obigen Beispielen wurde nur die reine Ausgabe behandelt. Das Template kann nun auch mit HTML-Tags angereichert werden, um ein bestimmtes Layout zu erreichen. Hier ein Beispiel:<br>
<pre>
<code class="html hljs">
&lt;h3>Datenausgabe&lt;/h3>
&lt;style>
.meinecssklasseproperty {
color:green;
}
.meinecssklassedata {
color:red;
}
&lt;/style>
<% for (var prop in data.einobjekt) { %>
  &lt;span class="meinecssklasseproperty"><%- "data.einobjekt." + prop + " = " %>&lt;/span>&lt;span class="meinecssklassedata"><%- data.einobjekt[prop] %>&lt;/div>
<% } %>
</code>
</pre>


</body>
</html>
