/*----------------------------------------------------------------------------
  Global Reset
----------------------------------------------------------------------------*/

* {
  padding:0;
  margin:0;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:10px 0; }


li, dd { margin-left:5%; }
fieldset { padding: 5px; }
select option{ padding:0 5px; }
a{ outline:none; }
a img{ border:none; }

p {
display: block;
	-webkit-margin-before: 5px;
	-webkit-margin-after: 10px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

/*----------------------------------------------------------------------------
  Main Layout
----------------------------------------------------------------------------*/

body {
  font-family: "proxima-nova-1", "proxima-nova-2", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.4;
  color: #333;
  background: #f7f7fa;
  text-shadow: 0 1px 0 rgba(255,255,255,1.0);
  border-top: 4px solid #556270;
  padding-bottom: 400px;
  margin-top: -6px;
  padding-left: 10px;

}

a {
  color: #2382c8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

hr {
  display: none;
}
hr:before {
  content: '\2022 \2022 \2022 \2022 \2022';
}

header {
  margin: 0 0 20px 0;
  text-align: center;
  border-bottom: 1px solid #fff;
}

ul.nav {
  margin: 0;
  padding: 12px 0 10px 0;
  list-style-type: none;
  line-height: 30px;
  border-bottom: 1px solid #dfe4ea;
}
ul.nav li {
  margin: 0 20px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

ul.nav li a {
  color: #bbb;
  text-decoration: none;
}

/*------------------------------------------------------------------------------
  Post Styles
------------------------------------------------------------------------------*/

h2 {
	font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
	color: #C90000;
	font-size: 2.2em;
	font-weight: bold;
}

h3 {
	font-size: 1.5em;
	color: #333;
	font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
	width: 100%;
	background: blanchedalmond;

}

h3 a:hover {
    text-decoration: none;
}

h4 {
	font-size: 1em;
	color: #000;
	font-weight: bold;
}

blockquote {
  margin: 10px 0;
  padding: 0 0 0 15px;
  font-size: 16px;
  border-left: 2px solid #aaa;
}
blockquote p {
  margin: 12px 0;
  color: #999;
}

table {
	border-top: 1px solid #CCCCCC;
	border-bottom: 2px solid #CCC;
	color: #000;
	background: #fff;
	border-collapse: separate;
}

caption {
	padding: 10px 10px 5px 0;
	text-align: left;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}

th {
	text-align: center;
	padding: 5px;
}

td {
	padding: 3px 5px;
}

table.data th, table.data td {
  text-align: left;
}
.spoiler .header {
     cursor:pointer;
     color:blue;
     text-decoration:underline;
}
.spoiler .content {
    display: none;
    padding : 5px;
}