<!--
    ioBroker.vis rssfeed Widget-Set

    version: "0.0.1"

    Copyright 2020 oweitman oweitman@gmx.de
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/rssfeed/css/style.css" />
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/rssfeed/js/rssfeed.js"></script>
<script type="text/javascript" src="widgets/rssfeed/js/ejs.js"></script>
<script type="text/javascript" src="widgets/rssfeed/js/mode-ejs.js"></script>


<script id="tplrssfeedWidget2"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img src="widgets/rssfeed/img/rssfeed-vis.png"></img>'
        data-vis-attrs="rss_oid/id;rss_template/custom,rssfeed.editEjs;rss_maxarticles/number,1;rss_filter;"
        data-vis-set="rssfeed"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="true"
        data-vis-name="RSS Feed Widget 2">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 210px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.rssfeed.rssfeedwidget2.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>
<script id="tplrssfeedMetaHelper"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img src="widgets/rssfeed/img/rssfeed-meta.png"></img>'
        data-vis-attrs="rss_oid/id;"
        data-vis-set="rssfeed"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="true"
        data-vis-name="RSS Feed Meta Helper">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 210px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.rssfeed.metahelper.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>
<script id="tplrssfeedArticleHelper2"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img src="widgets/rssfeed/img/rssfeed-item.png"></img>'
        data-vis-attrs="rss_oid/id;rss_prefix[item] ;rss_article[1]/number,1;"
        data-vis-set="rssfeed"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="true"
        data-vis-name="RSS Feed Article Helper 2">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 210px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.rssfeed.articlehelper2.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>  
<script id="tplrssfeedMarquee2"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img src="widgets/rssfeed/img/rssfeed-mrqe.png"></img>'
        data-vis-attrs="rss_oid/id;rss_maxarticles/number,1;rss_speed/number,1;rss_divider[+++];rss_pauseonhover[true]/checkbox;rss_link/checkbox;rss_filter;"
        data-vis-set="rssfeed"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="true"
        data-vis-name="RSS Feed Title marquee 2">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 20px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.rssfeed.marquee2.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>
<script id="tplJSONTemplate2"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img src="widgets/rssfeed/img/jsontemplate.png"></img>'
        data-vis-attrs="json_oid/id;json_template/custom,rssfeed.editEjs;"
        data-vis-set="rssfeed"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="true"
        data-vis-name="JSON Template2">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 20px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.rssfeed.jsontemplate2.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>
<script id="tplrssfeedWidget"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img src="widgets/rssfeed/img/rssfeed-vis.png"></img>'
        data-vis-attrs="rss_oid/id;template/html;maxarticles/number,1;filter;"
        data-vis-set="rssfeed"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="true"
        data-vis-name="deprectated - dont use it - RSS Feed Widget">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 210px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.rssfeed.rssfeedwidget.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>
<script id="tplrssfeedArticleHelper"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img src="widgets/rssfeed/img/rssfeed-item.png"></img>'
        data-vis-attrs="rss_oid/id;prefix[item] ;article[1]/number,1;"
        data-vis-set="rssfeed"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="true"
        data-vis-name="deprectated - dont use it - RSS Feed Article Helper">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 210px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.rssfeed.articlehelper.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>
<script id="tplrssfeedMarquee"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img src="widgets/rssfeed/img/rssfeed-mrqe.png"></img>'
        data-vis-attrs="rss_oid/id;maxarticles/number,1;duration/number,1;pauseonhover[true]/checkbox;filter;"
        data-vis-set="rssfeed"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="true"
        data-vis-name="deprectated - dont use it - RSS Feed Title marquee">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 20px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.rssfeed.marquee.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>   
<script id="tplJSONTemplate"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img src="widgets/rssfeed/img/jsontemplate.png"></img>'
        data-vis-attrs="oid/id;template/html;"
        data-vis-set="rssfeed"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="true"
        data-vis-name="deprectated - dont use it - JSON Template">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 20px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.rssfeed.jsontemplate.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>
                         